html {
    font-size: 50px;
    -webkit-tap-highlight-color: transparent;
    height: 100%;
    min-width: 320px;
    overflow-x: hidden;
}

body {
    font-family: "Microsoft YaHei";
    font-size: .28em;
    line-height: 1;
    color: #333;
    background-color: white;
}

.m-search_order {
    margin-bottom: 2%;
    padding: 2%;
    padding-right: 10%;
    border-bottom: 1px solid #ddd;
    position: relative;
}

    .m-search_order .group_btn {
        position: absolute;
        height: 30px;
        bottom: 10%;
        right: 1%;
    }

    .m-search_order .searchitem {
        display: inline-block;
        margin-right: 2%;
        margin-bottom: 10px;
    }

.table {
    width: 100%;
    margin-bottom: 20px;
}

    .table th {
        border: 1px #d2d2d2 solid;
        height: 40px;
        line-height: 40px;
    }

    .table td {
        border: 1px #d2d2d2 solid;
        padding: 10px 8px;
    }

    .table tr:nth-child(odd) {
        background: #fff;
    }

    /*.table tr:hover {
        background: #f9f9f9;
    }*/

    .table td a {
        color: #2c6aa0;
        margin: 0 5px;
        cursor: pointer;
    }

    .table td .inner_btn {
        background: #F9F;
        color: white;
        padding: 5px 8px;
        border-radius: 2px;
        display: inline-block;
    }

        .table td .inner_btn:hover {
            background: #ffa4ff;
            color: #f8f8f8;
        }

    .table td .cut_title {
        max-width: 265px;
    }

.page_title {
    height: 40px;
    line-height: 40px;
    border-bottom: 1px #b6b6b6 solid;
    margin-bottom: 5px;
}

    .page_title h2 {
        font-size: 15px;
        font-weight: bold;
        line-height: 40px;
    }

    .page_title .top_rt_btn {
        display: inline-block;
        height: 30px;
        line-height: 30px;
        padding: 0 15px;
        border: 1px #19a97b solid;
        border-radius: 2px;
        background: #f8f8f8;
        color: #19a97b;
        vertical-align: middle;
        cursor: pointer;
    }
/*订单详情*/
.table1 {
    width: 100%;
    margin-bottom: 15px;
    text-align: center;
}

    .table1 .tr_trbg {
        /*border: 1px solid #dedede;*/
        padding: 15px;
        width: 47%;
    }

    .table1 .td {
        padding: 15px;
        border: 1px solid #dedede;
        text-align: left;
    }

    .table1 .td_rlast {
        background: #f9f9f9;
    }

    .table1 .div1 {
        width: 85%;
    }

        .table1 .div1 .div1_1 {
            float: left;
            border: 1px solid #dedede;
            padding: 25px;
            margin-left: 15px;
            background: #f9f9f9;
        }

        .table1 .div1 .div1_2 {
            width: 93%;
            text-align: left;
            border: 1px solid #dedede;
            height: 54px;
            margin-left: 95px;
            padding: 5px 5px;
        }
